<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <title>HANDSOME DEVIL</title>
    </head>
    <body>
        <div class="container">
        <h1><i><a href="/">HANDSOME DEVIL</a></h1>
        <form action="/stylists" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                    <label for="first_name">Enter new stylist</label>
                    <input placeholder="Name" name="stylist" type="text" class="validate" required>
              </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <button type="submit" class="waves-effect waves-light btn indigo"> <i>SUBMIT<i></button>
                 </div>
            </div>
        </form>
            <div class="row">
                {% if stylists is not empty %}
                    <h2>Stylists</h2>
                    {% for stylist in stylists %}
                    <ul>
                        <li><h4>{{ stylist.getName }}</h4></li>
                    </ul>
                    <a href="/stylists/{{stylist.getId}}">ADD CLIENTS</a>
                    <a href="/stylist/{{stylist.getID}}/edit"><i>/     EDIT<i></a>
                    {% endfor %}
                {% else %}
                <p>There are no stylists yet!</p>
                {% endif %}
            </div>

            <form action="/delete_stylists" method="post" class="col s12">
            <button type="submit" class="waves-effect waves-light btn red"> <i>DELETE ALL STYLISTS<i></button>
            </form>
           </div>
        </div>
    </body>
</html>
