<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <title>HANDSOME DEVIL</title>
    </head>
    <body>
        <div class="container">
        <h1><i><a href="/">HANDSOME DEVIL</a></i></h1>
            <div class="row">
                <h3>Edit {{ stylist.getName}}</h3>
                <form action='/stylist/{{ stylist.getID }}' method='post' class="col s6">
                    <input name="_method" type="hidden" value="patch">
                    <label for='new_name'>New Stylist name</label>
                    <input id='new_name' name='new_name' type='text' required>
            <div>
            <div class="row">
                  <button type="submit" class="waves-effect waves-light btn indigo"> <i>UPDATE<i></button>
            </div>
               </form>
            <div class="row">
                 <form action="/stylist/{{ stylist.getId }}" method="post">
                     <input name="_method" type="hidden" value="delete">
                     <button type="submit" class="waves-effect waves-light btn indigo  lighten-2"><i>DELETE THIS STYLIST</i></button>
                 </form>
            </div>
           </div>
       </div>
       <a href="/">HOME</a>
   </div>
    </body>
</html>
